<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>

    </head>

    <body>
        <header>JOURNAL page</header>
        <div class="feed-stream">
            <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
    </body>

    <%- include('../partials/footer') %>
</html>