<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>MOCK SUBMIT page</header>
        <form action="/boba-review" method="post">
            <input class="input" type="text" name="message" placeholder="boba review" />
            <button class="button mt-2">Ruff!</button>
        </form>
    </body>

    <%- include('../partials/footer') %>
</html>